* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: lightgray;
  font-size: 14px;
  background-image: url("https://images3.alphacoders.com/114/11439.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Para cubrir toda la pantalla */
  background-attachment: fixed; /* Fija el fondo para que no se desplace con el contenido */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.contain {
  max-width: 420px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contain__title {
  margin-top: 20px;
  text-align: center;
}
@media (min-width: 767px) {
  .contain {
    max-width: 768px;
  }
}
@media (min-width: 1279px) {
  .contain {
    max-width: 1280px;
  }
}

.section {
  max-width: 420px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 767px) {
  .section {
    max-width: 768px;
  }
}
@media (min-width: 1279px) {
  .section {
    max-width: 1280px;
  }
}

.active {
  color: rgb(255, 217, 0);
  outline: 1px solid #fd0000;
  text-decoration: underline;
  box-shadow: 0px 0px 5px #fd0000;
}

.Header {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 767px) {
  .Header {
    font-size: 18px;
  }
}
.Header__title {
  text-align: center;
  color: rgb(255, 217, 0);
  text-transform: uppercase;
}
.Header__cont-text {
  color: lightgray;
  font-size: 10px;
}
.Header__nav {
  display: flex;
  align-items: center;
}
.Header__list {
  display: flex;
}
.Header__item:not(:last-child) {
  margin-right: 10px;
}
.Header__link {
  background-color: transparent;
  display: flex;
  cursor: pointer;
  padding: 2px 8px;
  border-radius: 15px;
}
.Header__link:hover {
  border: 1px solid #fd0000;
  color: rgb(255, 217, 0);
  text-decoration: underline;
}
@media (min-width: 767px) {
  .Header__p {
    font-size: 14px;
  }
}

.nav__title {
  color: rgb(255, 217, 0);
  text-transform: uppercase;
}
.nav__cont-text {
  color: lightgray;
}
.nav__nav {
  display: flex;
  align-items: center;
}
.nav__list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.nav__item {
  flex-basis: calc((100% - 20px) / 3);
}
.nav__link {
  display: flex;
  cursor: pointer;
  padding: 2px 8px;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px #fd0000;
}
.nav__link:hover {
  border: 1px solid #fd0000;
  color: rgb(255, 217, 0);
  text-decoration: underline;
}

.main {
  width: 100%;
  padding: 10px;
}
.main__title {
  display: flex;
  justify-content: center;
  color: rgb(255, 217, 0);
}
.main__paragraph {
  display: flex;
  justify-content: center;
  color: white;
}
@media (min-width: 767px) {
  .main {
    max-width: 768px;
  }
}
@media (min-width: 1279px) {
  .main {
    max-width: 1280px;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid rgb(255, 217, 0);
  border-bottom: 4px solid rgb(255, 0, 0);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.modal__cont {
  margin: 10% auto;
  width: 90%;
  max-width: 300px;
  position: relative;
  border-radius: 15px;
  background-image: url("https://th.bing.com/th/id/OIP.phpvHm319L1QN-9pkSsJ4QHaEo?pid=ImgDet&rs=1");
  background-size: cover;
  background-position: center;
}
@media (min-width: 767px) {
  .modal__cont {
    max-width: 500px;
  }
}
.modal__header {
  text-transform: uppercase;
  padding: 10px;
  border-radius: 15px 15px 0 0;
  color: rgb(255, 217, 0);
  background-color: rgba(255, 0, 0, 0.5);
  text-align: center;
}
@media (min-width: 767px) {
  .modal__header {
    font-size: 16px;
  }
}
.modal__wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 767px) {
  .modal__wrapper {
    font-size: 20px;
  }
}
.modal__close {
  font-size: 20px;
  position: absolute;
  top: 2px;
  right: 12px;
  padding: 5px;
  cursor: pointer;
  color: rgb(255, 217, 0);
}
.modal__list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.modal__list:not(:last-child) {
  background-color: rgba(0, 0, 0, 0.6);
  padding-right: 10px;
  border-right: 1px solid rgb(255, 217, 0);
}
.modal__list--api {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__list--films {
  margin-top: 5px;
  border-top: 1px solid yellow;
}
.modal__list--films:not(:last-child) {
  margin-bottom: 5px;
}
@media (min-width: 767px) {
  .modal__list {
    justify-content: space-around;
    padding: 10px 60px;
  }
}
.modal__item:not(:last-child) {
  margin-bottom: 10px;
}
.modal__paragraph {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 217, 0);
}
.modal__paragraph--api {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 26px black;
}
.modal .modal__opening {
  padding: 5px 10px;
  text-align: justify;
}
.modal__selectCont {
  display: flex;
  justify-content: space-between;
}
.modal__select {
  font-size: 12px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: lightgray;
  border-radius: 15px;
  padding: 0 5px;
}
@media (min-width: 767px) {
  .modal__select {
    margin-left: 10px;
    font-size: 16px;
  }
}
.modal__option {
  background-color: rgba(0, 0, 0, 0.5);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
.footer__pag {
  padding: 5px;
  display: flex;
}
.footer__btn {
  color: rgb(255, 217, 0);
  background-color: transparent;
  font-size: 30px;
  border: none;
}
.footer__btn:hover {
  scale: 1.2;
}
.footer__span {
  display: flex;
  align-items: center;
  position: relative;
  top: 3px;
  margin: 0 10px;
  padding: 5px 10px;
  color: rgb(255, 217, 0);
}

.description {
  padding: 10px;
  margin-top: 10px;
  text-align: justify;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.description__title {
  color: rgb(255, 217, 0);
  display: flex;
  justify-content: center;
}
.description__title--subtitle {
  justify-content: flex-start;
}
.description__list {
  padding: 10px;
}
.description__item {
  margin-top: 10px;
}
.description__paragraph {
  margin-top: 10px;
}

.search {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search__input {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
}
.search__btn {
  border: none;
  background-color: transparent;
  border-radius: 0 10px 10px 0;
  position: relative;
  right: 32px;
  top: 2px;
  cursor: pointer;
}
.people {
  margin-top: 20px;
}
.people__title {
  display: flex;
  justify-content: center;
  color: rgb(255, 217, 0);
  margin-bottom: 30px;
}
.people__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.people__item {
  flex-basis: calc((100% - 10px) / 2);
}
.people__btn {
  width: 100%;
  font-size: 12px;
  color: lightgray;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  cursor: pointer;
}
.people__btn:hover {
  scale: 1.05;
  border: 1px solid rgb(255, 217, 0);
}

.films {
  margin-top: 50px;
}
.films__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.films__item {
  flex-basis: calc((100% - 10px) / 2);
}
.films__btn {
  width: 100%;
  font-size: 12px;
  color: lightgray;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  cursor: pointer;
}
.films__btn:hover {
  scale: 1.05;
  border: 1px solid rgb(255, 217, 0);
}

.people {
  margin-top: 20px;
}
.people__title {
  display: flex;
  justify-content: center;
  color: rgb(255, 217, 0);
  margin-bottom: 30px;
}
.people__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.people__item {
  flex-basis: calc((100% - 10px) / 2);
}
.people__btn {
  width: 100%;
  font-size: 12px;
  color: lightgray;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  cursor: pointer;
}
.people__btn:hover {
  scale: 1.05;
  border: 1px solid rgb(255, 217, 0);
}

.planets {
  margin-top: 20px;
}
.planets__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.planets__item {
  flex-basis: calc((100% - 10px) / 2);
}
.planets__btn {
  width: 100%;
  font-size: 12px;
  color: lightgray;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  cursor: pointer;
}
.planets__btn:hover {
  scale: 1.05;
  border: 1px solid rgb(255, 217, 0);
}

.species {
  margin-top: 20px;
}
.species__title {
  display: flex;
  justify-content: center;
  color: rgb(255, 217, 0);
  margin-bottom: 30px;
}
.species__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.species__item {
  flex-basis: calc((100% - 10px) / 2);
}
.species__btn {
  width: 100%;
  font-size: 12px;
  color: lightgray;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  cursor: pointer;
}
.species__btn:hover {
  scale: 1.05;
  border: 1px solid rgb(255, 217, 0);
}

.starships {
  margin-top: 20px;
}
.starships__title {
  display: flex;
  justify-content: center;
  color: rgb(255, 217, 0);
  margin-bottom: 30px;
}
.starships__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.starships__item {
  flex-basis: calc((100% - 10px) / 2);
}
.starships__btn {
  width: 100%;
  font-size: 12px;
  color: lightgray;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  cursor: pointer;
}
.starships__btn:hover {
  scale: 1.05;
  border: 1px solid rgb(255, 217, 0);
}

.vehicles {
  margin-top: 20px;
}
.vehicles__title {
  display: flex;
  justify-content: center;
  color: rgb(255, 217, 0);
  margin-bottom: 30px;
}
.vehicles__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.vehicles__item {
  flex-basis: calc((100% - 10px) / 2);
}
.vehicles__btn {
  width: 100%;
  font-size: 12px;
  color: lightgray;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  cursor: pointer;
}
.vehicles__btn:hover {
  scale: 1.05;
  border: 1px solid rgb(255, 217, 0);
}

/*# sourceMappingURL=style.css.map */
