.Header {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-color:rgba(0, 0, 0, 0.6);

  &__title{
    text-align: center;
    color: rgb(255, 217, 0);
    text-transform: uppercase;
  }

  &__cont-text{
    color: lightgray;
    font-size: 10px;
  }

  &__nav{
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
  }
  
  &__item{
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link{
    background-color: transparent;
    display: flex;
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 15px;
    &:hover {
      border: 1px solid #fd0000;
      color: rgb(255, 217, 0);
      text-decoration: underline;
    }
  }
}
