.main{
  width: 100%;
  max-width: 420px;
  position: absolute;
  top: 50px;
  padding: 10px;

  &__title{
    display: flex;
    justify-content: center;
    color: rgb(255, 217, 0);
  }

  &__paragraph{
    display: flex;
    justify-content: center;
    color: white;
  }

  @media (min-width: 767px) {
    max-width: 768px;
  }

  @media (min-width: 1279px) {
    max-width: 1280px;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid rgb(255, 217, 0);
  border-bottom: 4px solid rgb(255, 0, 0);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}