.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1; 
  

  &__cont {
    background-color: rgba(211, 211, 211, 0.493);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid lightgray;
    width: 80%;
    max-width: 600px;
    position: relative;
    border: 2px dashed rgb(255, 217, 0);
    border-radius: 15px;
  }
  
  
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
}