.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1; 
  font-size: 12px;
  

  &__cont {
    background-color: rgba(255, 255, 255, 0.726);
    margin: 10% auto;
    width: 90%;
    max-width: 300px;
    position: relative;
    border: 1px solid rgb(255, 0, 0);
    box-shadow: 0 0 5px rgb(255, 0, 0);
    border-radius: 15px;
    background-image: url('https://th.bing.com/th/id/OIP.phpvHm319L1QN-9pkSsJ4QHaEo?pid=ImgDet&rs=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__header{
    padding: 10px;
    border-radius: 15px 15px 0 0 ;
    color: rgb(255, 217, 0);
    background-color: rgba(0, 0, 0, 0.699);
    text-align: center;
  }

  &__main{
    display: flex;
    justify-content: center;
  }
  
  &__close {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 12px;
    padding: 5px;
    cursor: pointer;
    color: rgb(255, 217, 0);
  }

  &__list{
    width: 50%;
    padding: 5px;
    &:not(:last-child){
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 0 0 0 15px;
      padding-right: 5px;
      border-right: 1px solid rgb(255, 217, 0);
    }

    &--api{
      width: 50%;
      padding-right: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0 0 15px 0;
    }
  }
  
  &__item{
    justify-content: space-between;    
  }
  
  &__paragraph{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    color: rgb(255, 217, 0);

      &--api{
        color: white;
        display: flex;
        text-align: start;
        justify-content: flex-start;
  }
  }



  &__select{
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: lightgray;
    border-radius: 15px;
    padding: 2px 0;
  }

  &__option{
    background-color: rgba(0, 0, 0, 0.5);

  }
}