
.nav {
  margin: 20px;

  &__title{
    color: rgb(255, 217, 0);
    text-transform: uppercase;
  }

  &__cont-text{
    color: lightgray;
    font-size: 12px;
  }

  &__nav{
    display: flex;
    align-items: center;
  }

  &__list {
    justify-content: center;
    display: flex;
  }
  
  &__item{
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link{
    font-size: 12px;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 10px;
    &:hover {
      border: 1px solid rgb(255, 217, 0);
      color: rgb(255, 217, 0);
      text-decoration: underline;
    }
  }

    /* Estilo para el modal */
    
  }